body{/*背景图片*/
	/*height: 3000px;*/
	background-image: url(../image/1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-position: 0 -100px
}

header nav{/*导航底色*/
	width: 100%;
	height: 70px;
	background: rgba(0,0,0,0.75);
	position: fixed;
	z-index: 9;
}

header nav .title{
	width: 1200px;
	height: 70px;
	margin: 0 auto;
}
header nav .title .logo{/*LOGO字体*/
	width: 200px;
	height: 70px;
	/*background: green;*/
	float: left;
	color: white;
	font-size:40px;
	/*font-weight: bold;*/
	line-height: 66px; 
	font-family: "Arial"
}
header nav .title .nav{/*导航右边*/
	width: 385px;
	height:70px;
	/*background: blue;*/
	float: right;
}

header nav .title ul li{/*导航字体*/
	width: 77px;
	height: 70px;
	/*#4eb2d6*/
	float: left;
	color: #ffffff;
	font-size:16px;
	font-weight: bold;
	text-align: center;
	line-height: 66px;
	transition:background 0.8s;
	font-family: "Arial"
}
header nav .title ul li:hover{
	background: #4eb2d6
}
header .content{
	width: 100%;
	height:700px;
	background: rgba(0,0,0,0.5);
	border-top: 1px solid black;
}
header .content p{
	width: 550px;
	margin: 0 auto;
	/*background:red;*/
	margin: 200px auto 0;
	color:white;/*字体颜色*/
	font-size:40px;/*字号*/
	font-weight: bold;/*加粗*/
	line-height: 1.5em;/*行高*/
	text-align: center;/*水平居中对齐*/
	font-family: "微软雅黑";
}
header .content .btn{/*选择器按钮*/
	width: 245px;
	height: 62px;
	border: 1px solid white;
	margin: 50px auto 0;/*外间距*/
	color: white;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
	border-radius: 15px;/*圆角*/
	font-family: "微软雅黑";
	cursor: pointer;/*鼠标样式*/
	transition:background 0.8s;
}
header .content .btn:hover{
	background: #4eb2d6;
}
header .content .sanjiao{
	margin: 20px auto 0;
	/*三角的制作方法*/
	width:0px;
	height:0px;
	border: 25px solid white;
	border-bottom: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	/*动画*/
	animation: move 1s infinite;
}

@keyframes move{/*动画规则*/
	0%{margin-top: 20px;}
	50%{margin-top: 60px;}
	100%{margin-top: 20px;}
}

/*内容skill部分*/
.skill-box{
	width: 100%;
	background: rgba(60,70,80,0.8);
	padding-top: 100px;
	padding-bottom: 100px;
}
.skill-box h3{/*skill下面字体*/
	/*background: red;*/
	width: 648px;
	border-bottom: 2px solid white;
	height: 40px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	font-family: "微软雅黑";
	padding-bottom: 15px;
}
.skill-box p{
	width: 1100px;
	margin: 20px auto 0;
	color: white;
	text-align: center;
	line-height: 1.6em;
	font-family: "微软雅黑";

}
.skill-box ul{
	width: 1100px;
	margin: 20px auto 0;
	overflow: hidden;
}
.skill-box ul li{
	width: 154px;
	height: 195px;
	/*background: red;*/
	float: left;
	margin-right: 35px;
	text-align: center;
}
.skill-box ul .last{
	margin-right: 0px;
}
.skill-box ul li div{/*圆圈样式*/
	width: 120px;
	height: 120px;
	border: 15px solid #2f353d;
	margin: 0 auto;
	border-radius: 50%;
	color: white;
	font-size: 60px;
	text-align: center;
	line-height: 100px;
	font-family: "微软雅黑"
}
.skill-box ul li div i{
	font-size: 40px;
	font-family: "微软雅黑"
}

.skill-box ul li span{
	color: white;
	font-size: 20px;
	font-family: "微软雅黑";
	display:block;
	padding-top: 15px;
}

.skill-box ul li div:hover{/*转圈动画*/
	transition:transform 1s;
	transform:rotateY(360deg)
}
.skill-box ul li:nth-child(1) div{
	background: #88c14c;
}
.skill-box ul li:nth-child(2) div{
	background: #efa330;
}
.skill-box ul li:nth-child(3) div{
	background: #4eb2d6;
}
.skill-box ul li:nth-child(4) div{
	background: #efa330;
}
.skill-box ul li:nth-child(5) div{
	background: #ed6c44;
}
.skill-box ul li:nth-child(6) div{
	background: #4eb2d6;
}
.skill-box ul li div b{/*圆圈内字体*/
	font-size: 30px;
	font-family: "微软雅黑";
}
.skill-box ul li div i{
	font-size: 10px;
	font-family: "微软雅黑";
}

/*works*/
.works-box{
	width: 100%;
	background: rgba(0,0,0,0.5);
	padding-top: 100px;
	padding-bottom: 60px;
}
.works-box h3{/*skill下面字体*/
	/*background: red;*/
	width: 648px;
	border-bottom: 2px solid white;
	height: 40px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	font-family: "微软雅黑";
	padding-bottom: 15px;
}
.works-box p{
	width: 1100px;
	margin: 20px auto 0;
	color: white;
	text-align: center;
	line-height: 1.6em;
	font-family: "微软雅黑";
}
.works-box .tab{
	width: 1070px;
	height: 465px;
/*	background: red;*/
	margin: 10px auto 0;
}
.works-box .tab .anniu-box{
	width: 335px;
	height: 40px;
	margin: 0 auto;
}
.works-box .tab .anniu-box .anniu{
	/*按钮选项*/
	width: 78px;
	height: 38px;
	border: 1px solid white;
/*	background: green;*/
	color: white;
	text-align: center;
	line-height: 36px;
	font-size: 20px;
	border-radius: 6px;
	float:left;
	margin-right: 5px;
	cursor: pointer;
}
.works-box .tab .anniu-box .anniu:nth-child(4){
	margin-right: 0;
}
.works-box .tab .content-box{
	width: 1070px;
	height: 400px;
/*	background: blue;*/
	margin-top: 25px;
}
.works-box .tab .content-box ul{
	width: 1070px;
	height: 400px;
/*	background: green;*/
}
.works-box .tab .content-box ul:nth-child(2){
	display: none;
}
.works-box .tab .content-box ul:nth-child(3){
	display: none;
}
.works-box .tab .content-box ul:nth-child(4){
	display: none;
}
.works-box .tab .content-box ul li{
	width: 260px;
	height: 195px;
	background: black;
	float: left;
	overflow: hidden;
}
.works-box .tab .content-box ul li:nth-child(1){
	margin-right: 10px;
	margin-bottom: 10px;
}
.works-box .tab .content-box ul li:nth-child(2){
	margin-right: 10px;
	margin-bottom: 10px;
}
.works-box .tab .content-box ul li:nth-child(3){
	margin-right: 10px;
	margin-bottom: 10px;
}
.works-box .tab .content-box ul li:nth-child(4){
	margin-bottom: 10px;
}
.works-box .tab .content-box ul li:nth-child(5){
	margin-right: 10px;
}
.works-box .tab .content-box ul li:nth-child(6){
	margin-right: 10px;
}
.works-box .tab .content-box ul li:nth-child(7){
	margin-right: 10px;
}
/*缩放*/
.works-box .tab .content-box ul li img{
	transition:transform 1s;
}
.works-box .tab .content-box ul li img:hover{
	transform:scale(1.2)
}

/*about*/
.about-box{
	/*底色*/
	width: 100%;
	background: #2c3138;

}
.about-box .line{
	width: 100%;
	overflow: hidden;
}
/*1-2*/
.about-box .line .content1{
	width: 45%;
	position: relative;
	float: left;
	font-size: 0;
}
.about-box .line .content1 img{
	width: 100%;
}
.about-box .line .content1 .mask{
	/*遮罩颜色*/
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;top: 0;
}
.about-box .line .content1 .mask p{
	/*第一块字体*/
	width: 70%;
	margin: 120px auto 0;
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-align: center;
	font-family: "微软雅黑"
}
.about-box .line .content2{
	width: 55%;
	float: left;
	text-align: center;
}
.about-box .line .content2 .graduation{
	width: 70%;
	color: white;
	margin: 120px auto 0;
}
.about-box .line .content2 .graduation h3{
	/*标题字体*/
	font-size: 50px;
	line-height: 30px;
	font-family: "微软雅黑";
	margin: 120px auto 0;

}
.about-box .line .content2 .graduation p{
	/*内容字体*/
	width: 70%;
	font-size: 20px;
	line-height: 1.5em;
	font-family: "微软雅黑";
	margin: 40px auto 0;
}
/*3-4*/
.about-box .line .content4{
	width: 55%;
	position: relative;
	float: left;
	font-size: 0;
}
.about-box .line .content4 img{
	width: 100%;
}
.about-box .line .content4 .mask{
	/*遮罩颜色*/
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;top: 0;
}
.about-box .line .content4 .mask p{
	/*第一块字体*/
	width: 70%;
	margin: 120px auto 0;
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-align: center;
	font-family: "微软雅黑"
}
.about-box .line .content3{
	width: 45%;
	float: left;
	text-align: center;
}
.about-box .line .content3 .graduation{
	width: 70%;
	color: white;
	margin: 120px auto 0;
}
.about-box .line .content3 .graduation h3{
	/*标题字体*/
	font-size: 50px;
	line-height: 30px;
	font-family: "微软雅黑"；
}
.about-box .line .content3 .graduation p{
	/*内容字体*/
	width: 70%;
	font-size: 20px;
	line-height: 1.5em;
	font-family: "微软雅黑";
	margin: 40px auto 0;
}
/*5-6*/
.about-box .line .content5{
	width: 45%;
	position: relative;
	float: left;
	font-size: 0;
}
.about-box .line .content5 img{
	width: 100%;
}
.about-box .line .content5 .mask{
	/*遮罩颜色*/
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;top: 0;
}
.about-box .line .content5 .mask p{
	/*第一块字体*/
	width: 70%;
	margin: 120px auto 0;
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-align: center;
	font-family: "微软雅黑"
}
.about-box .line .content6{
	width: 55%;
	float: left;
	text-align: center;
}
.about-box .line .content6 .graduation{
	width: 70%;
	color: white;
	margin: 120px auto 0;
}
.about-box .line .content6 .graduation h3{
	/*标题字体*/
	font-size: 50px;
	line-height: 30px;
	font-family: "微软雅黑"；
}
.about-box .line .content6 .graduation p{
	/*内容字体*/
	width: 70%;
	font-size: 20px;
	line-height: 1.5em;
	font-family: "微软雅黑";
	margin: 40px auto 0;
}

/*页底*/
footer{
	width: 100%;
	padding: 30px 0;
	color: rgba(0,0,0,0.9);
}
footer h3{
	width: 630px;
	height: 100px;
	/*background: red;*/
	margin: 0 auto;
}
footer h3 span{
	float: left;
	width: 210px;
	border-bottom: 1px solid white;
}
footer h3 .line-through{
	margin-top: 45px;
}
footer h3 .title{
	margin-top: 15px;
	font-size: 36px;
	color: white;
	text-align: center;
	border: 0
}
.backtop{
	width: 100px;
	height: 100px;
	background: yellow;
	position: fixed;
	right: 100px;
	bottom: 100px;
}